{
  "leelaz": {
    "noise": false,
    "threads": 2,
    "max-thinking-time-minutes": 2,
    "weights": "network",
    "gpu": []
  },
  "ui": {
    "shadows-enabled": false,
    "board-color": [
      178,
      140,
      0
    ],
    "shadow-size": 100,
    "branch-stone-alpha": 160,
    "fancy-board": true,
    "fancy-stones": true
  }
}