<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>featurecat.lizzie.Lizzie</string>
    <key>CFBundleDisplayName</key>
    <string>Lizzie</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Lizzie</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.6</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSEnvironment</key>  
    <dict>
      <key>MAC_APP_BUNDLE</key>
      <string>true</string>
    </dict>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>JVMRuntime</key>
    <string></string>
    <key>JVMRuntimePath</key>
    <string></string>
    <key>JVMMainClassName</key>
    <string>featurecat.lizzie.Lizzie</string>
    <key>JVMClassPaths</key>
    <array>
      <string>featurecat/lizzie/0.6/lizzie-0.6.jar</string>
      <string>org/json/json/20180130/json-20180130.jar</string>
      <string>com/googlecode/juniversalchardet/juniversalchardet/1.0.3/juniversalchardet-1.0.3.jar</string>
      <string>com/jhlabs/filters/2.0.235/filters-2.0.235.jar</string>
    </array>
    <key>JVMVersion</key>
    <string>1.8+</string>
    <key>JVMOptions</key>
    <array>
      <string>-Dapple.laf.useScreenMenuBar=true</string>
      <string>-Xdock:name=Lizzie</string>
    </array>
    <key>JVMArguments</key>
    <array/>
    <key>LauncherWorkingDirectory</key>
    <string>$APP_ROOT</string>
  </dict>
</plist>
